################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/123Vendas/FileContentIndex/01d4d15c-7880-4e4f-b762-7ee8bfe27010.vsidx
/.vs/123Vendas/FileContentIndex/2da23c3d-d8d0-4d34-b52d-a27f99d9fe39.vsidx
/.vs/123Vendas/FileContentIndex/595c7296-0f6a-4a1a-a58a-94d149b42ef1.vsidx
/.vs/123Vendas/FileContentIndex/a0450fe7-a78f-4bee-b2d8-aabf91b1cb7c.vsidx
/.vs/123Vendas/FileContentIndex/a8ef1e52-cfb3-4748-8656-e1261b49a7d2.vsidx
/.vs/123Vendas/FileContentIndex/b1d9d7ee-388a-4f02-99b6-40b119c89b28.vsidx
/.vs/123Vendas/FileContentIndex/c7216685-3e71-4a0a-bbef-9dbfcaffa618.vsidx
/.vs/123Vendas/FileContentIndex/e3fa3ceb-9ada-4153-ba05-5e87a86ab7db.vsidx
